<div data-animation="default" class="navbar w-nav" data-easing2="ease-in-out-quart" data-easing="ease-in-out-quart" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="350" data-doc-height="1">
    <div class="navbar-wrapper">
      <a href="/" aria-current="page" class="brand w-nav-brand w--current">
        <div class="code-embed-2 w-embed">
            <svg width="36" height="50" viewbox="0 0 36 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_501_1988)">
              <path d="M17.9784 13.4458C14.4409 13.4458 10.9426 13.096 7.5138 12.1899C5.98135 11.8074 4.50095 11.2405 3.10503 10.5016C2.32959 10.1058 1.62596 9.58287 1.02342 8.95447C0.774532 8.68986 0.555896 8.39835 0.371559 8.08532C0.121946 7.66402 -0.00721778 7.18227 -0.00185363 6.6926C0.00351052 6.20293 0.143196 5.72413 0.401979 5.30839C0.742266 4.7403 1.19119 4.24486 1.72309 3.85039C3.00074 2.85521 4.46525 2.22508 5.98409 1.7188C8.11613 1.03388 10.3116 0.565082 12.5375 0.31947C14.798 0.0472341 17.0757 -0.0559013 19.3516 0.0109227C23.152 0.119566 26.8915 0.601945 30.4985 1.87525C31.6039 2.25188 32.6602 2.7596 33.6448 3.38757C34.2971 3.78949 34.8725 4.30457 35.344 4.90858C36.2348 6.10583 36.2305 7.3661 35.344 8.55684C34.8906 9.13014 34.3432 9.6224 33.7252 10.0127C32.3596 10.879 30.8731 11.538 29.3142 11.9682C27.3664 12.5404 25.3708 12.9353 23.3519 13.1481C21.5682 13.3545 19.7739 13.4539 17.9784 13.4458Z" fill="currentColor"></path>
              <path d="M35.9763 31.7349V49.987H19.1104C19.0061 49.509 19.017 32.1412 19.1256 31.7349H35.9763Z" fill="currentColor"></path>
              <path d="M35.9567 29.5836H19.1365C19.0148 29.1925 18.9974 16.1118 19.1365 15.549C19.3103 15.549 19.4972 15.549 19.6819 15.549C23.2889 15.5056 26.8524 15.1014 30.329 14.0802C31.7861 13.6823 33.1813 13.0849 34.4748 12.3049C34.9833 11.9855 35.4548 11.6053 35.9763 11.2185L35.9567 29.5836Z" fill="currentColor"></path>
              <path d="M16.8702 29.5967H16.3748C13.2676 29.5967 10.1596 29.5967 7.05097 29.5967C5.18958 29.6114 3.39859 28.8861 2.07199 27.5803C0.745401 26.2745 -0.00812657 24.4952 -0.0228218 22.6338C-0.0375169 20.7724 0.687824 18.9814 1.99363 17.6548C3.29945 16.3282 5.07876 15.5747 6.94015 15.56C10.1364 15.5404 13.3306 15.5491 16.5247 15.56C16.629 15.56 16.7311 15.56 16.818 15.573L16.8724 15.6186C16.8832 15.6317 16.9006 15.6447 16.9028 15.6599C16.9168 15.7272 16.9256 15.7955 16.9289 15.8642C16.9289 20.378 16.9289 24.891 16.9289 29.4033C16.916 29.4697 16.8964 29.5345 16.8702 29.5967Z" fill="currentColor"></path>
              <path d="M16.9137 31.8718V49.9979H0.0282593L16.8115 31.8284L16.9137 31.8718Z" fill="currentColor"></path>
            </g>
            <defs>
              <clippath id="clip0_501_1988">
                <rect width="36.0023" height="50" fill="white"></rect>
              </clippath>
            </defs>
          </svg></div>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
  <a
    href="/"
    class="nav-link button regular w-nav-link <%= currentPage === 'home' ? 'w--current' : '' %>"
  >
    Home
  </a>

  <a
    href="/our-capabilities"
    class="nav-link button regular w-nav-link <%= currentPage === 'capabilities' ? 'w--current' : '' %>"
  >
    Capabilities
  </a>

  <a
    href="/about-us"
    class="nav-link button regular w-nav-link <%= currentPage === 'about' ? 'w--current' : '' %>"
  >
    About Us
  </a>

  <a
    href="/casestudies"
    class="nav-link button regular w-nav-link <%= currentPage === 'casestudies' ? 'w--current' : '' %>"
  >
    Case Studies
  </a>

  <div class="secondary-button-warpper">
    <a href="/contact-us" class="button-primary w-inline-block">
      <div class="button-text">Get In Touch</div>
    </a>
  </div>
</nav>

      <div class="nav-cta">
        <a href="/contact-us" class="button-2 is-secondary w-button">Get In Touch</a>
      </div>
      <div class="menu-button w-nav-button">
        <div class="code-embed-3 w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="menu">
              <mask id="mask0_501_1365" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect id="Bounding box" width="24" height="24" fill="#D9D9D9"></rect>
              </mask>
              <g mask="url(#mask0_501_1365)">
                <path id="menu_2" d="M2.19995 18.45V15.8H21.8V18.45H2.19995ZM2.19995 13.3V10.65H21.8V13.3H2.19995ZM2.19995 8.15V5.5H21.8V8.15H2.19995Z" fill="currentColor"></path>
              </g>
            </g>
          </svg></div>
      </div>
    </div>
  </div>